h2{
    color: rgb(46, 45, 45);
    font-weight: bold;
    font-size: 45px;
    width: 20%;
    font-style: italic;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.navaccueil{
    margin-top:7%;
    margin-left:10%;
}

.map-container{
    position: relative;
    height: 500px;
    width: 100%;

}
#map {
    height: 100%;
}

.row{
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    
}