<div class="container">
    <nav id ="" class="navbar navbar-custom">
      <a class="navbar-brand" [routerLink] ="['/']"><p class="logo">{{ title }}</p></a>
    </nav>
    <div class="container">
      <div class="row row-runs">
        <h2 class="heading">Mes chemins</h2>
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let day of days">
              <td>{{day.time}}</td>
              <td><a><button (click)="generer_gpx(day.time)"><i class="fas fa-eye"></i></button></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
