<div class="container">
    <nav id ="" class="navbar navbar-custom">
      <a class="navbar-brand" [routerLink] ="['/']"><p class="logo">{{ title }}</p></a>
    </nav>
    <div class="container">
      <div class="row row-runs">
        <h2 class="heading">Mes chemins</h2>
        
        <div class="summary">
          You've logged
          <p class="totals"></p>
          total miles over
          <p class="totals"></p>
          runs since
          <p class="totals"></p>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
