.logo{
  color: rgba(6,24,91,0.8);
  font-weight: bold;
  font-size: 45px;
  width: 20%;
  font-style: italic;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  }
  
  .navbar-custom{
    margin-top:10px;
    padding-bottom: 12px;
  }
  
  .main-content{
    height:100%;
    width: 60%;
  }
   
  .map-container{
    height: 500px;
  }
  
  .info-container{
    height: 500px;
    background-color: white;
  }

  .row-runs{
    background-color: rgb(100,185,196);
    background: linear-gradient(135deg, rgba(100,185,196,0.2) 0%,rgba(6,24,91,0.8) 100%); 
    padding: 10px 32px;
    color: rgb(46, 45, 45);
  }
  
  td{
    font-size: 1.4em;
  }
  
  table>tbody>tr:hover{
    background-color: #96c3e0;
  }
  
  td > a{
    color: #a8470b;
    text-decoration: none;
  }
  
  td > a:hover{
    text-decoration: none;
    color: #a8470b;
  }
    
  .summary{
    font-size: 1.4em;
  }
  
  .heading{
    font-family: 'Fjalla One', sans-serif;
    color: rgba(6,24,91,0.8);
    padding-top: 25px;
  }
  
  .totals{
    display: inline;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(17, 17, 82);
    margin: 2px;
  }
  table{
    color: rgba(6,24,91,0.8);
    font-family: 'Fjalla One', sans-serif;
    font-weight: italic;
  }
  .btnfas{
    background-color: transparent;
    color: white;
    border: none;
  }
td {
  border-bottom: 1px solid rgb(241, 238, 241);
}
a{
  padding-left: 50%;
}

.map-container{
  position: relative;
  height: 350px;
  width: 90%;
  padding-left: 50px;
  padding-bottom: 50px;

}
#map {
  height: 100%;
}

