<div id="Section">
    <div class="navaccueil">
        <h2>GEOTRACKER</h2>
    </div>
    <!--<div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="/assets/images/logo/Focuvax_Logo_Accueil.svg" id="image1">
        </div>
    </div>-->
    <div class="row" id="body-form">
        <div class="col-md-6 offset-md-3">
            <h3>SE CONNECTER</h3>

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
                        <!--<div *ngIf="username?.touched && username?.invalid" class="text-danger">
                            <small *ngIf="username?.errors?.required">Champ obligatoire <br></small>
                            <small *ngIf="username?.errors?.email">Email invalide</small>
                        </div>-->
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe"
                        formControlName="mdp">
                        <!--<div *ngIf="mdp?.touched && mdp?.invalid" class="text-danger">
                            <small *ngIf="mdp?.errors?.required">Champ obligatoire <br></small>
                            <small *ngIf="mdp?.errors?.minlength">Minimum 8 caractères </small>
                        </div>-->
                </div>

                <button type="submit" class="btn-primary">Connexion</button>
            </form>

        </div>

    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h6> <a href=""> Un nouveau candidat ? Créer un compte ! </a></h6>
        </div>
    </div>
</div>