/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Jaldi', sans-serif;
    background-color: white;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(248, 227, 196);
  }

  
  .app-row{
    background-color:rgb(248, 227, 196);
  }