#map{ height: 430px; }

.row-map{
  
  padding: 10px 32px;
  min-height: 640px;
}

.heading{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.2em;
  color: grey;
}

.data-heading{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
  color: grey;
}

.data-entry{
  padding: 8px 0px 2px 16px;
  font-size: 1.5em;
  color: black;
}